@import '../../../Global\ Styles/Global';
@import '../../../Global\ Styles/Colours';
@import '../../../Global\ Styles/MediaQueries';

.hero-container {
    width: 100vw;
    height: 90vh;
    background-color: $backgroundPrimary;
    display: flex;
    justify-content: center;
    align-items: center;
}