$NavbarPrimary : #0063B2FF;

$backgroundPrimary : rgb(102, 193, 235);
$backgroundSecondary : rgb(51, 168, 223);

$headerColor: rgb(24, 23, 23);
$paragraph: rgb(51, 49, 49);

$btnHover : rgb(231, 151, 2);