@import '../../../Global\ Styles/Global';
@import '../../../Global\ Styles/Colours';
@import '../../../Global\ Styles/MediaQueries';

.contact-wrapper {
    width: 100vw;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $backgroundPrimary;
    h1 {
        font-size: 3rem;
        text-align: center;
        color: $headerColor;
        text-decoration: underline;
        padding: 1vh 0;
        @include tablet {
            font-size: 2.5rem;
        }
        @include mobile {
            font-size: 2rem;
        }
    }
    .map-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        min-height: 72vh;
        background-image: url('../../../Images/Location-Screenshot.JPG');
        background-position: center;
        background-repeat: no-repeat;
        border-bottom: 1px solid #fff;
        @include mobile {
            flex-direction: column;
        }
        
        .info-box {
            width: 20%;
            min-height: 40vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: $backgroundPrimary;
            border: 1px solid #000;
            border-radius: 5px;
            padding: 2vh 1vw;
            margin: 1vh 1vw;
            @include oneFourHundred {
                width: 40%;
            }
            @include oneThousandpx{
                width: 30%;
            }
            @include tablet {
                width: 40%;
            }
            @include mobile {
                width: 80%;
                height: auto;
                padding: 0;
            }
            .inquiries {
                font-size: 2rem;
                color: $headerColor;
                font-weight: bold;
                
                @include mobile {
                    font-size: 1.7rem;
                }
            }
            a {
                text-decoration: none;
                color: $paragraph;
                transition: 0.2s ease-in-out;
                &:hover {
                    color: $btnHover;
                }
            }
            h2 {
                text-align: center;
                text-decoration: underline;
                font-size: 2rem;
                padding: 1px;
                margin: 4px 2px;
                color: $headerColor;
                @include mobile {
                    font-size: 1.7rem;
                }
            }
            p {
                text-align: center;
                font-size: 1.5rem;
                padding: 1px;
                color: $paragraph;
                @include mobile {
                    font-size: 1.3rem;
                }
            }
            i {
                font-size: 2rem;
            }
            #primary-email {
                font-size: 1.2rem;
                text-decoration: underline;
                @include oneThousandpx {
                    font-size: 1.5vw;
                }
                @include tablet {
                    font-size: 2.5vw;
                }
                @include mobile {
                    font-size: 5vw;
                }
                
            }
            button {
                padding: 5px;
                border-radius: 5px;
                width: 150px;
                height: 50px;
                margin: 1vh 2vw;
                cursor: pointer;
                background-color: #fff;
                color:  rgb(34, 32, 32);
                font-size: 1.3rem;
                transition: 0.2s ease-in-out;
                &:hover {
                    width: 170px;
                    background-color: $btnHover;
                    color:  rgb(34, 32, 32);
                    a{
                        color:  rgb(34, 32, 32)
                    }
                }
                a {
                    text-decoration: none;
                    color: rgb(34, 32, 32);
                }
            }
        }
    }
    .contact-info-container {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        background-color: $backgroundPrimary;
        padding: 1vh 1vw;
        .email {
            padding: 1vh 1vw;
            @include tablet {
                width: 100vw;
                text-align: center;
            }
            @include mobile {
                font-size: smaller;
            }
        }
        a {
            text-decoration: none;
            color: $paragraph;
            font-size: 1.5rem;
            transition: 0.2s ease-in-out;
            padding: 1vh 1vw;
            &:hover {
                color: $btnHover;
                font-size: 1.7rem;
            }
        }
        .linked-in {
            font-size: 2.5rem;
            color: $paragraph;
            cursor: pointer;
            transition: 0.2s ease-in-out;
            
            &:hover {
                color: $btnHover;
                font-size: 2.7rem;
            }
        }
        .phone-numbers-container {
            p {
                color: $paragraph;
            }
        }
    }
    .plug {
        width: 100vw;
        text-align: center;
        color: $paragraph;
        background-color: $backgroundSecondary;
        font-size: 0.75rem;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        &:hover {
            color: $btnHover;
        }
    }
}