@import '../../../Global\ Styles/Global';
@import '../../../Global\ Styles/Colours';
@import '../../../Global\ Styles/MediaQueries';

.container {
    position: relative;
    width: 100%;
    height: 100% ;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $backgroundPrimary;

    .right-arrow {
        position: absolute;
        top: 50%;
        right: 32px;
        font-size: 3rem;
        color: #000;
        cursor: pointer;
        user-select: none;
        z-index: 0;
        &:hover {
            color: $btnHover;
            transition: 0.2s ease-in-out;
        }

        @include tablet {
            top: 80%;
            right: 40%;
        }
        @include mobile {
            top: 72%;
            right: 30%
        }
    }
    .left-arrow {
        position: absolute;
        top: 50%;
        left: 32px;
        font-size: 3rem;
        color: #000;
        cursor: pointer;
        user-select: none;
        z-index: 0;
        &:hover {
            color: $btnHover;
            transition: 0.2s ease-in-out;
        }

        @include tablet {
            top: 80%;
            left: 40%;
        }
        @include mobile {
            top: 72%;
            left: 30%
        }
    }
    .image {
        width: 60vw;
        border-radius: 10px;
        @include tablet {
            width: 90vw;
        }
    }

    .slide {
        opacity: 0;
        transition-duration: 1s ease;
      }
      
    .active {
        opacity: 1;
        transition-duration: 1s;
        transform: scale(1.08);
    }
}

