@import '../../../Global\ Styles/Global';
@import '../../../Global\ Styles/Colours';
@import '../../../Global\ Styles/MediaQueries';


.about-wrapper{
    position: relative;
    min-width: 100vw;
    min-height: 90vh;
    background-color: $backgroundSecondary;
    padding-top: 6vh;
    z-index: 2;
    @include tablet {
        padding-top: 1vh;
    }
    h1 {
        color: $headerColor;
        font-size: 3rem;
        padding-top: 2vh;
        text-decoration: underline;
        text-align: center;
        @include tablet {
            font-size: 2.5rem;
            padding-top: 0;
        }
        @include mobile {
            font-size: 2rem;
            padding-top: 0;
        }
      
    }
    .about-container {
        width: 100%;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        @include oneFourHundred{
            flex-direction: column;
        }
        .about-left {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            @include oneFourHundred {
                width: 100%;
                height: 70%;
                justify-content: flex-start;
            }
            @include tablet {
                min-height: 50%;
            }
            p {
                text-align: center;
                color: $paragraph;
                margin: 2vh 2vw;
                font-size: 2rem;  
                @include oneThousandpx {
                    font-size: 1.5rem;
                }
                @include tablet {
                    font-size: 3.5vw;
                }
                @include mobile {
                    font-size: 4.5vw;
                }
            }
            ul{
                margin: 2vh 2vw; 
               @include tablet {
                   margin-left: 10vw;
               }
                li {
                    
                    color: $paragraph;
                    font-size: 2.5rem;
                    margin: 2vh 2vw; 
                    @include oneThousandpx {
                        font-size: 1.5rem;
                    }
                    @include tablet {
                        font-size: 3.5vw;
                    }
                    @include mobile {
                        font-size: 5vw;
                    }
                    
                }
            }
        }
        .about-right {
            width: 50%;
            min-height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            @include oneFourHundred {
                width: 100%;
                min-height: 40%
            }
            @include tablet {
                min-height: 50%;
            }
    
            .working-pic {
                width: 75%;
                border: 1px solid #fff;
                border-radius: 5px;
                @include oneFourHundred {
                    width: 50%;
                    margin-bottom: 3vh;
                }
                @include tablet {
                    width: 60%
                }
                @include mobile {
                    width: 80%
                }
            }
        }
    }
}
